.megamenu-container {
    margin: 0 auto;
    xbackground: #e9e9e9;
}

.megamenu-mobile {
    display: none;
    padding: 20px;
}

.megamenu-mobile:after {
    xcontent: "\f394";
    xfont-family: "Ionicons";
    xfont-size: 2.5rem;
    xpadding: 0;
    xfloat: right;
    xposition: relative;
    top: 50%;
    xtransform: translateY(-25%);
    position: absolute;
    xtop: 0;
    left: 1.5em;
    display: block;
    width: 1.5em;
    height: 2px;
    background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
    content: "";
    margin-top: -0.5em;
}

.megamenu-dropdown-icon:before {
    content: "+";
    xfont-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    xpadding: 1.5em 2em;
    padding: 1em;
    xbackground: #fff;
    color: #333;
}

.megamenu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .megamenu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
    background: transparent;
}

.megamenu > ul:before,
.megamenu > ul:after {
    content: "";
    display: table;
}

.megamenu > ul:after {
    clear: both;
}

.megamenu > ul > li {
    float: left;
    xbackground: #e9e9e9;
    padding: 0;
    margin: 0;
}

.megamenu > ul > li a {
    text-decoration: none;
    xpadding: 1.5em 3em;
    display: block;
}

.megamenu > ul > li:hover {
    background: #f0f0f0;
}

.megamenu > ul > li > ul {
    display: none;
    width: 100%;
    background: #f0f0f0;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.megamenu > ul > li > ul:before,
.megamenu > ul > li > ul:after {
    content: "";
    display: table;
}

.megamenu > ul > li > ul:after {
    clear: both;
}

.megamenu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
}

.megamenu > ul > li > ul > li a {
    color: #777;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
}

.megamenu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.megamenu > ul > li > ul > li > ul:before,
.megamenu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.megamenu > ul > li > ul > li > ul:after {
    clear: both;
}

.megamenu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.megamenu > ul > li > ul > li > ul > li a {
    border: 0;
}

.megamenu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.megamenu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.megamenu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 959px) {
    .megamenu-container {
        width: 100%;
    }
    .megamenu-mobile {
        xdisplay: block;
        position: relative;
    display: inline-block;
    vertical-align: middle;
    xwidth: 20px;
    xheight: 16px;
    cursor: pointer;
    padding-left: 3.5em;
    }
    .megamenu-dropdown-icon:before {
        display: block;
    }
    .megamenu > ul {
        display: none;
    }
    .megamenu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .megamenu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .megamenu > ul > li > ul {
        position: relative;
    }
    .megamenu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .megamenu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .megamenu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .megamenu > ul > li > ul > li > ul {
        position: relative;
    }
    .megamenu > ul > li > ul > li > ul > li {
        float: none;
    }
    .megamenu .show-on-mobile {
        display: block;
    }
}