/* Home Page */

section:not(#slider) {
	padding: 1em 0;
}

.page-template-template-home1 section header {
	padding: 1em 0;
}

.title-line-sides {
	background-repeat: repeat-x;
	background-position: left;
	text-align: center;
}

.title-line-sides h2 {
	margin: 0 auto;
	padding: 0 10px;
	display: inline-block;
}